---
BasedOnStyle: LLVM
Standard: Latest

Language: Cpp

LineEnding: LF
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeElse: true
    BeforeCatch: true
    IndentBraces: false
    SplitEmptyFunction: true

AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 120
PointerAlignment: Left
SpaceBeforeParens: ControlStatements

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

IncludeCategories:
    - Regex: '^<(windows|Windows)\.h>'
      Priority: 1
      SortPriority: 1
    - Regex: '^<(initguid|mmsystem|ole2|unknwn|uiautomation|uiautomationcore|comdef|comip|wrl/client|audioclient|audiopolicy|mmdeviceapi)\.h>'
      Priority: 2
      SortPriority: 2
    - Regex: "^<[a-z0-9_./]+>"
      Priority: 3
      SortPriority: 3
    - Regex: '^".*"'
      Priority: 4
      SortPriority: 4

StatementMacros:
    - EM_ASM
    - EM_ASM_INT
    - EM_JS

---
BasedOnStyle: Google
Language: ObjC
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true

---
BasedOnStyle: Google
Language: Java
AllowShortFunctionsOnASingleLine: Empty

---
